spring:
  config:
    activate:
      on-profile: prod

  flyway:
    enabled: false
    baseline-on-migrate: false
    baseline-version: 1

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update

  cloud:
    aws:
      sqs:
        queues:
          payment-queue: ${SQS_PAYMENT_QUEUE}
      sns: 
        payment-callback-topic: ${SNS_PAYMENT_CALLBACK_TOPIC}


          