spring:
  config:
    activate:
      on-profile: dev

  flyway:
    enabled: false

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fastfood-payment}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

api:
  security:
    token:
      secret: ${JWT_SECRET:minha-secret}

