spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5435/fastfood-payment}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      sqs:
        endpoint: http://localstack:4566
        queues:
          process-payment-queue: "http://sqs.us-east-1.localstack.localstack.cloud:4566/000000000000/payment-queue"
      sns:
        endpoint: http://localstack:4566
        paymentCallbackTopic: "arn:aws:sns:us-east-1:000000000000:payment-callback"