spring:
  config:
    activate:
      on-profile: prod

  flyway:
    enabled: true
    baseline-on-migrate: true  # <--- Add this line
    baseline-version: 1

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate # Ensures DB matches entity model without changing it

  cloud:
    aws:
      sqs:
        queues:
          process-payment-queue: ${PAYMENT_QUEUE_NAME}