spring:
  config:
    activate:
      on-profile: prod

  flyway:
    enabled: true
    locations: classpath:db/migration

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fastfood}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

api:
  security:
    token:
      secret: ${JWT_SECRET}