apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ms-payment-secrets
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-ssm
    kind: ClusterSecretStore
  target:
    name: ms-payment-secrets
    creationPolicy: Owner
  data:
    - secretKey: POSTGRES_DB_URL
      remoteRef:
        key: /ms-payment/postgresql/uri
