apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ms-payment-secrets
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-ssm
    kind: ClusterSecretStore
  target:
    name: ms-payment-secrets
    creationPolicy: Owner
  data:
    - secretKey: SPRING_DATASOURCE_URL
      remoteRef:
        key: /ms-payment/postgres/jdbc-url
    - secretKey: SPRING_DATASOURCE_USERNAME
      remoteRef:
        key: /ms-payment/postgres/user
    - secretKey: POSTGRES_USER
      remoteRef:
        key: /ms-payment/postgres/user
    - secretKey: SPRING_DATASOURCE_PASSWORD
      remoteRef:
        key: /ms-payment/postgres/password
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: /ms-payment/postgres/password
    - secretKey: POSTGRES_DB
      remoteRef:
        key: /ms-payment/postgres/db
    - secretKey: MERCADOPAGO_ACCESS_TOKEN
      remoteRef:
        key: /ms-payment/mercadopago/access-token
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: /ms-payment/aws/access-key-id
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: /ms-payment/aws/secret-access-key
