apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ms-payment-secrets
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-ssm
    kind: ClusterSecretStore
  target:
    name: ms-payment-secrets
    creationPolicy: Owner
  data:
    - secretKey: POSTGRES_DB_URL
      remoteRef:
        key: /ms-payment/postgresql/uri
        
    - secretKey: SPRING_DATASOURCE_URL
      remoteRef:
        key: /ms-payment/postgresql/uri

    - secretKey: SPRING_DATASOURCE_USERNAME
      remoteRef:
        key: /ms-payment/postgresql/username

    - secretKey: SPRING_DATASOURCE_PASSWORD
      remoteRef:
        key: /ms-payment/postgresql/password

    - secretKey: PAYMENT_QUEUE_NAME
      remoteRef:
        key: /ms-payment/sqs/queue-name

    - secretKey: AWS_ACCESS_KEY
      remoteRef:
        key: /ms-payment/aws/access-key

    - secretKey: AWS_SECRET_KEY
      remoteRef:
        key: /ms-payment/aws/secret-key
    - secretKey: MERCADO_PAGO_BASE_URL
      remoteRef:
        key: /ms-payment/mercadopago/base-url

    - secretKey: PUBLIC_KEY
      remoteRef:
        key: /ms-payment/mercadopago/public-key

    - secretKey: ACCESS_TOKEN
      remoteRef:
        key: /ms-payment/mercadopago/access-token

    - secretKey: CLIENT_ID
      remoteRef:
        key: /ms-payment/mercadopago/client-id

    - secretKey: CLIENT_SECRET
      remoteRef:
        key: /ms-payment/mercadopago/client-secret

    - secretKey: EXTERNAL_POS_ID
      remoteRef:
        key: /ms-payment/mercadopago/external-pos-id
    
    - secretKey: WEBHOOK_SECRET
      remoteRef:
        key: /ms-payment/mercadopago/webhook-secret